### OVERALL ENVIRONEMT ###

# Determines which containers start based on environments. 0 for dev or 1 for prod
COMPOSE_ENVIRONMENT=0

### MONGODB ###
MONGO_INITDB_ROOT_USERNAME=user
MONGO_INITDB_ROOT_PASSWORD=pass

### POSTGRES ###
POSTGRES_USER=user
POSTGRES_PASSWORD=pass