html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

#root {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.ant-layout {
  min-height: 100%;
}

.ant-layout-header {
  background-color: #001529;
}

.ant-menu-horizontal {
  display: flex;
  justify-content: center;
}

.ant-layout-content {
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: flex-start; /* Align content to the top */
  padding: 20px; /* Add some padding around the content */
}

.ant-layout-footer {
  text-align: center;
}

